<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.themurderfiles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheMurderFiles">
        <activity
            android:name=".howto"
            android:screenOrientation="landscape" />
        <activity
            android:name=".credits"
            android:screenOrientation="landscape" />
        <activity
            android:name=".game_successfully_over"
            android:screenOrientation="landscape" />
        <activity
            android:name=".game_over"
            android:screenOrientation="landscape" />
        <activity
            android:name=".final_level"
            android:screenOrientation="landscape" />
        <activity
            android:name=".record3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".balcony"
            android:screenOrientation="landscape" />
        <activity
            android:name=".record2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bedroom"
            android:screenOrientation="landscape" />
        <activity
            android:name=".record1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".courtyard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".criminal_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".hit_list"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Intro_Video"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".bgm" />
        <service android:name=".defeat" />
        <service android:name=".victory" />
    </application>

</manifest>